.content-section {
  padding: 0 50px;
}

.header {
  display: grid;
  grid-template-columns: 1fr 12% 1fr;
  align-items: center;
  padding: 88px 50px;
  font-size: 18px;
  text-decoration-skip-ink: none;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  gap: 32px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  text-decoration: none;
  list-style-type: none;
}

.header__logo {
  justify-self: start;
  width: 148px;
  max-height: 100%;
  margin: auto;
}

.header__logo-image {
  justify-self: start;
  align-content: center;
  width: 100%;
  height: 100%;
}

.address {
  display: flex;
  flex-direction: column;
  font-style: normal;
  line-height: 135%;
}

.address__text {
  display: block;
  max-width: 245px;
}

.header__address {
  justify-self: end;
}

.cover {
  flex-shrink: 0;
  min-height: 757px;
  padding: 165px 50px 0px 50px;
  background-image: url(../images/cover.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: multiply;
}

.cover__title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.accent-span {
  position: relative;

  display: block;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 100px;
  font-style: normal;
  line-height: 115%;
  letter-spacing: 30px;
  text-transform: uppercase;
  word-spacing: -20px;
}

.text-center {
  right: 18px;
  align-self: center;
}

.text-right {
  left: 30px;
  align-self: flex-end;
}

.cover__description {
  display: flex;
  justify-content: end;
  gap: 78px;
  margin-top: 125px;
}

.cover__description-text {
  align-self: center;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: 28px;
  text-transform: uppercase;
  word-spacing: 18px;
}

.bet-button {
  display: block;
  border: 2px solid #fff;
  padding: 10px 30px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 22px;
  font-style: normal;
  line-height: normal;
  text-align: end;
  text-decoration: none;
  text-transform: uppercase;
  background: none;
}

.lots {
  display: flex;
  flex-direction: column;
  margin: 174px 0px 140px 0px;
}

.lots__heading {
  margin-bottom: 30px;
  margin-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-flow: wrap;
  gap: 25px;
  list-style: none;
}

.lots__card-list-item {
  flex-grow: 1;
  width: 430px;
  height: 450px;
}

.card {
  position: relative;
  display: flex;
  height: 100%;
}

.card__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  filter: brightness(60%);
}

.card__title {
  position: absolute;
  z-index: 1;
  margin: 50px 40px;
  color: #fff;
  font-family: Raleway;
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration-line: underline;
  text-decoration-skip-ink: none;
  text-transform: uppercase;
}

.card__text {
  position: absolute;
  z-index: 1;
  align-self: flex-end;
  margin: 50px 40px;
  color: #fff;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  padding: 30px 40px;
  font-size: 20px;
  text-decoration: underline;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 170px;
}

.logo-column {
  flex-shrink: 0;
  justify-content: center;
  align-items: center;
  width: 430px;
  height: 240px;
  margin-top: 10px;
  padding: 0px 95px;
  background-image: url(../images/ellipse.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.about__logo {
  display: block;
  width: 148px;
  height: 114px;
  margin: auto;
  margin-top: 62px;
}

.about__logo-image {
  width: 100%;
  height: 100%;
}

.about__logo-ellipse {
  border-radius: 5px;
}

.about-column {
  grid-column: 2/4;
  grid-row: 1/3;
}

.about__title {
  margin-top: 110px;
  margin-bottom: 100px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.about__text-item {
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: grid;
  grid-template-columns: 1fr 12% 1fr;
  justify-content: space-between;
  align-items: start;
  margin-bottom: 90px;
  text-decoration-skip-ink: none;
}

.footer__address {
  justify-self: flex-start;
  font-size: 18px;
}

.footer__menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 18px;
  list-style: none;
}

.footer__menu-link {
  text-align: left;
}

.footer__social-list {
  display: flex;
  justify-self: end;
  justify-content: space-around;
  gap: 14px;
  width: 240px;
  height: 48px;
  list-style: none;
}

.footer__social-list-item {
  min-width: 80px;
  height: 100%;
}

.footer__social-link {
  max-width: 100%;
  height: 48px;
}

.footer__social-icon {
  max-height: 100%;
}
